.btn-more {
  border-radius: 8px;
  background-color: #ff5400;
  color: #fff;
  width: 174px;
  height: 52px;
  border: none;
  font-weight: bold;
}
#menu-icon {
  visibility: hidden;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1170px;
  margin: auto;
  padding: 0 20px;
}
header li {
  margin-right: 44px;
  list-style-type: none;
}
header a {
  text-decoration: none;
}

#banner {
  background-image: linear-gradient(
      180deg,
      rgba(19, 19, 24, 0.8) 0%,
      rgba(19, 19, 24, 0) 100%
    ),
    url("../Images/Group\ 13\ \(1\)\ \(1\).png");
  width: 1170px;
  height: 500px;
  border-radius: 16px;
  margin: 49px auto;
}
#destination {
  justify-content: center;
  width: 1170px;
  margin: 0 auto;
}
#destination1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  font-size: 28px;
  color: #fff;
}
#destination2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  font-size: 28px;
  color: #fff;
}
#one, #two, #three, #four,#five, #six, #seven{
  text-align: center;
  padding-top: 120px;
  padding-bottom: 120px;
  border-radius: 16px;
}
#one {
  background-image: url("../Images/Rectangle\ 5.png");
  background-repeat: no-repeat;
  background-size: cover;
}
#two{
  background-image: url("../Images/Rectangle\ 8.png");
  background-repeat: no-repeat;
  background-size: cover;

}
#three{
  background-image: url("../Images/Rectangle\ 6.png");
  background-repeat: no-repeat;
  background-size: cover;

}
#four{
  background-image: url("../Images/Rectangle\ 7.png");
  background-repeat: no-repeat;
  background-size: cover;

}
#five{
  background-image: url("../Images/Rectangle\ 9.png");
  background-repeat: no-repeat;
  background-size: cover;

}
#six{
  background-image: url("../Images/Rectangle\ 11.png");
  background-repeat: no-repeat;
  background-size: cover;

}
#seven{
  background-image: url("../Images/Rectangle\ 10.png");
  background-repeat: no-repeat;
  background-size: cover;

}
#card {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin: 0 auto;
  width: 1410px;
}
.card1 {
  width: calc(573px - 32px);
  border-radius: 16px;
  border: 1px solid rgba(251, 181, 99, 0.2);
  background-color: rgba(251, 181, 99, 0.05);
  padding: 32px;
}
.card2 {
  width: calc(573px - 32px);
  border-radius: 16px;
  border: 1px solid rgba(41, 206, 246, 0.2);
  background: rgba(41, 206, 246, 0.05);
  padding: 32px;
}
.card3 {
  width: calc(573px - 32px);
  border-radius: 16px;
  border: 1px solid rgba(41, 206, 246, 0.2);
  background: rgba(41, 206, 246, 0.05);
  padding: 32px;
}

.planning {
  width: 174px;
  height: 52px;
  border-radius: 8px;
  background: #fff;
  color: rgba(19, 19, 24, 0.5);
  margin-right: 24px;
  border: none;
  padding-left: 15px;
}
#planning-btn {
  font-size: 15px;
  height: 52px;
  width: 174px;
  border-radius: 8px;
  background: #ff5400;
  color: #fff;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
#discount-image {
  width: 672px;
  height: 422px;
  border-radius: 16px;
  background-image: url("../Images/Rectangle\ 8\ \(1\).png");
  background-repeat: no-repeat;
}
footer {
  background-color: rgba(19, 19, 24, 0.05);
  text-align: center;
  height: 292px;
  padding-top: 110px;
}
footer hr {
  width: 872px;
  margin: auto;
  margin-bottom: 50px;
}
footer h4 {
  color: #5a5a5d;
}
@media only screen and (max-width: 600px) {
  header {
    width: 375px;
  }
  #logo-name {
    font-size: 21px;
  }
  #logo {
    height: 33px;
    width: 28px;
  }
  #pages {
    visibility: hidden;
  }
  #menu-icon {
    visibility: visible;
    color: black;
  }
  #banner {
    width: 335px;
    height: 483px;
    margin: 0 auto;
  }
  #plan-selection {
    width: 287px;
    flex-direction: column;
    gap: 10px;
    padding: 16px;
    align-items: center;
  }
  #popular-tour {
    flex-direction: column;
    margin: 0 auto;
    width: 375px;
  }
  #popular-tour-image {
    margin-left: 0;
    height: 342px;
    width: 335px;
    border-radius: 16px;
    margin-left: 0px;
  }
  #popular-tour-text {
    width: 335px;
    margin-bottom: 20px;
  }
  #perfect-plan {
    flex-direction: column;
    gap: 20px;
  }
  #newsletter {
    flex-direction: column;
  }
  #discount-image {
    width: 335px;
    margin: 0 auto;
  }
  #discount-image-text {
    width: 214px;
    height: 79px;
    color: #fff;
    background-color: #ff5400;
    border-radius: 16px;
    position: relative;
    bottom: 0;
    transform: rotate(-19.628deg);
    bottom: -250px;
    left: -1535px;
  }
  #card {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin: 0 auto;
    width: 335px;
  }
}
