* {
  margin: 0;
  padding: 0;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1170px;
  margin: auto;
}
header li {
  margin-right: 44px;
  list-style-type: none;
}
header a {
  text-decoration: none;
}

#banner {
  background-image: linear-gradient(
      180deg,
      rgba(19, 19, 24, 0.8) 0%,
      rgba(19, 19, 24, 0) 100%
    ),
    url("../Images/Group\ 13\ \(1\)\ \(1\).png");
  width: 1170px;
  height: 500px;
  border-radius: 16px;
  margin: 49px auto;
}

.planning {
  width: 174px;
  height: 52px;
  border-radius: 8px;
  background: #fff;
  color: rgba(19, 19, 24, 0.5);
  margin-right: 24px;
  border: none;
  padding-left: 15px;
}
#planning-btn {
  font-size: 15px;
  height: 52px;
  width: 174px;
  border-radius: 8px;
  background: #ff5400;
  color: #fff;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
#discount-image {
  width: 672px;
  height: 422px;
  border-radius: 16px;
  background-image: url("../Images/Rectangle\ 8\ \(1\).png");
  background-repeat: no-repeat;
}
footer {
  background-color: rgba(19, 19, 24, 0.05);
  text-align: center;
  height: 292px;
  padding-top: 110px;
}
footer hr {
  width: 872px;
  margin: auto;
  margin-bottom: 50px;
}
footer h4 {
  color: #5a5a5d;
}
