* {
  margin: 0;
  padding: 0;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
header li {
  margin-right: 44px;
  list-style-type: none;
  text-decoration: none;
}

.planning {
  width: 174px;
  height: 52px;
  border-radius: 8px;
  background: #fff;
  color: rgba(19, 19, 24, 0.5);
  margin-right: 24px;
  border: none;
  padding-left: 15px;
}
#planning-btn {
  font-size: 15px;
  height: 52px;
  width: 174px;
  border-radius: 8px;
  background: #ff5400;
  border: none;
}

footer {
  background-color: rgba(19, 19, 24, 0.05);
  text-align: center;
  height: 292px;
  padding-top: 110px;
}
footer hr {
  width: 872px;
  margin: auto;
  margin-bottom: 50px;
}
footer h4 {
  color: #5a5a5d;
}
